<div class="modal-header mt-3">
  <h4 class="modal-title" id="modal-title">Remove Favorite !!</h4>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete ?</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary rounded-pill px-3 py-2" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary rounded-pill px-3 py-2" (click)="accept()">Yes</button>
</div>
