<div class="row my-4">
  <div class="col">
    <form action="" [formGroup]="searchForm">
      <div class="ng-autocomplete shadow">
        <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate" placeholder="Please type city name" (inputCleared)="searchCleared()"
          formControlName="city" form>
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <!-- <div [innerHTML]="notFound"></div> -->
        </ng-template>
      </div>
    </form>
  </div>
</div>
<div class="d-flex justify-content-center my-3">
  <div>
    <span class="invalid"
      *ngIf="searchForm.controls['city'].errors?.required && searchForm.controls['city']?.touched">City
      required
    </span>
  </div>
</div>
<div class="d-flex justify-content-center my-3">
  <div>
    <span class="invalid" *ngIf="showError && errorMessage != ''">{{errorMessage}}
    </span>
  </div>
</div>
<div class="row my-3">
  <div class="d-flex justify-content-center">
    <button type="button" (click)="onSearch()" [disabled]="!searchForm.valid"
      class="btn btn-dark rounded-pill py-2 px-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg> Search
    </button>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <button type="button" class="btn btn-dark rounded-pill py-2 px-3" (click)="getLocation()">
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>  -->
      <!-- Search By current Location -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
        viewBox="0 0 16 16">
        <path
          d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
      </svg>
      Current Location
    </button>
  </div>
</div>
