<nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        fill="currentColor" class="bi bi-brightness-low" viewBox="0 0 16 16">
        <path
          d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm.5-9.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5-5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm-11 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9.743-4.036a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-7.779 7.779a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm7.072 0a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707zM3.757 4.464a.5.5 0 1 1 .707-.707.5.5 0 0 1-.707.707z" />
      </svg></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="getUserName()" routerLinkActive="active" routerLink="/favorites">Favorite
            Locations</a>
        </li>
      </ul>
      <div>
        <button type="button" (click)="open()" [disabled]=true class="btn btn-sm btn-outline-light"
          *ngIf="getUserName();else noUsername "> {{getUserName()}}</button>
        <ng-template #noUsername>
          <button type="button" id="btn-open" (click)="open()" class="btn btn-sm btn-outline-light rounded-pill"> Guest
            User</button>
        </ng-template>
        <span *ngIf="getUserName()" id="btn-logout" (click)="logout()" class="text-white m-2 pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power"
            viewBox="0 0 16 16">
            <path d="M7.5 1v7h1V1h-1z" />
            <path
              d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
          </svg></span>
      </div>
    </div>
  </div>
</nav>
