<div class="d-flex mt-1 justify-content-center">
  <h3 *ngIf="getUserName()">Hi {{getUserName()}}</h3>
</div>
<div class="row mt-5 justify-content-center gap-2">
  <div class="col-lg-5">
    <app-search [cities]="cities" (response)="weatherInfo = $event"></app-search>
  </div>
  <div class="col-lg-5">
    <app-details *ngIf="weatherInfo;else noData" [data]="weatherInfo"></app-details>
    <ng-template #noData>
      <div class="text-center mt-3">
        <h5>Weather Info Show Here !!</h5>
      </div>
    </ng-template>
  </div>
</div>
