<div class="row row-cols-1 row-cols-lg-2 justify-content-center">
  <ng-container *ngIf="favorites.length > 0">
    <div class="col-lg-6 my-3 loopingArray fav-wrapper" *ngFor="let fav of favorites; let i = index">
      <app-details [data]="fav"></app-details>
      <div class=" d-flex justify-content-center gap-3 mt-3">
        <button type="button" class="btn btn-primary rounded-pill px-3 py-2" (click)="updateFavorites(fav,i)"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat"
            viewBox="0 0 16 16">
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
            <path fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
          </svg> Refresh
        </button>
        <button type="button" id="btn-remove" class="btn btn-danger rounded-pill px-3 py-2"
          (click)="removeFavorites(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg> Remove
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="favorites.length == 0">
    <div class="d-flex justify-content-center">
      <h3>{{message}} !!</h3>
    </div>
  </ng-container>
</div>
