<div class="row justify-content-center mt-3" *ngIf="this.searchResponse && this.searchResponse?.city">
  <div class="col ">
    <div class=" p-3 shadow main-wrapper">
      <div class="d-flex">
        <h6 class="flex-grow-1">{{this.searchResponse?.city}}</h6>
        <h6>{{searchResponse?.time | date :'short'}}</h6>
      </div>
      <div class="d-flex justify-content-end">
        <p><small>- last updated on</small> </p>
      </div>
      <div class="d-flex flex-column temp mt-2 mb-3">
        <h4 class="font-weight-bold my-2" id="heading"> {{this.searchResponse?.temp}} </h4>
        <hr class="ruler">
        <span>Feels Like {{this.searchResponse?.feels_like}}</span>
        <span>{{this.searchResponse?.temp_min}}-{{this.searchResponse?.temp_max}}</span>
        <span>{{this.searchResponse?.weatherDescription}}</span>
        <span> Wind : {{this.searchResponse?.windSpeed}} </span>
        <span *ngIf="this.searchResponse?.rain"> Raining </span>
        <span> Pressure : {{this.searchResponse?.pressure}} </span>
        <span> Humidity : {{this.searchResponse?.humidity}} </span>
        <img class="" src="../../../../assets/icons/{{this.searchResponse?.icon}}.png" width="60px" height="60px">
      </div>
    </div>
  </div>
  <div class="row my-2 d-flex justify-content-center" *ngIf="homePage && username">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-dark rounded-pill py-2 px-3 m-1 fav-btn" (click)="addToFavorites()"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus"
          viewBox="0 0 16 16">
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
          <path
            d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
        </svg> Add to favorites</button>

      <button (click)="updateInfo()" type="button" class="btn btn-primary rounded-pill py-2 px-4 m-1 update-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat"
          viewBox="0 0 16 16">
          <path
            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
          <path fill-rule="evenodd"
            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
        </svg> Refresh
      </button>
    </div>
    <div class="alert alert-dark d-flex align-items-center mt-1 justify-content-center"
      *ngIf="homePage && showSuccessMessage" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle me-2"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
      </svg>
      <div>
        Favorites Updated !!
      </div>
    </div>
  </div>
</div>
