.card {
  /* background-color: #ffffff; */
  border-radius: 50px;
  color: #6f707d;
}

#heading {
  font-size: 45px;
  color: whitesmoke;
}

.temp {
  place-items: center
}

.temp-details>p>span,
.grey {
  color: #a3acc1;
  font-size: 15px
}

.fa {
  color: #a5a5b1
}

*:focus {
  outline: none
}

.main-wrapper{
  background-color: #393E46;
  color: whitesmoke;
  box-shadow: 1px 5px 25px 3px #444;
  border-radius: 16px;
  min-width: 300px;
}

.ruler{
  color: gold;
  width: 10rem;
  height: 5px;
  margin: 0;
}

.fav-btn {
  max-width: 250px;
  white-space: nowrap;
}

.update-btn{
  max-width: 250px;
  /* background-color: #00ADB5;
   outline: none;
   color: whitesmoke; */
   white-space: nowrap;
}


