<div class="row p-3">
  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()" *ngIf="registerFormGroup">
        <div class="register-form">
          <div class="form-group mt-3">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control mt-2" [ngClass]="{
                    'is-invalid':
                    registerFormGroup.controls['name'].invalid &&
                    registerFormGroup.controls['name'].touched
                  }" placeholder="Enter your name !" />
            <div *ngIf="registerFormGroup.controls['name'].errors?.required" class="invalid-feedback">
              <div>Name is <strong>required.</strong></div>
            </div>
            <div *ngIf="registerFormGroup.controls['name'].errors?.pattern" class="invalid-feedback">
              <div><strong> Invalid </strong> name </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <label>City</label>
            <input type="text" formControlName="city" class="form-control mt-2" [ngClass]="{
                    'is-invalid':
                    registerFormGroup.controls['city'].invalid &&
                    registerFormGroup.controls['city'].touched
                  }" placeholder="Enter your city !" />
            <div *ngIf="registerFormGroup.controls['city'].errors?.required" class="invalid-feedback">
              <div>City is <strong>required.</strong></div>
            </div>
            <div *ngIf="registerFormGroup.controls['city'].errors?.pattern" class="invalid-feedback">
              <div><strong> Invalid </strong> city </div>
            </div>
          </div>
          <div class="mt-3 text-center">
            <button id="btn-save" type="submit" ngbAutofocus [disabled]="!registerFormGroup.valid"
              class="btn btn-dark rounded-pill py-2 px-3 pointer">Save <svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd"
                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
              </svg></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
