/* You can add global styles to this file, and also import other style files */

body{
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1557323760/weather.svg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.myCustomModalClass .modal-dialog {
  margin:2rem auto 0 auto;
  max-width: 350px;
}

.pointer{
  cursor: pointer;
}

